PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3001

# Firebase Admin Configuration (For token verification and uploads)
FIREBASE_PROJECT_ID=thenamskills
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@thenamskills.iam.gserviceaccount.com
# Provide the private key value enclosing newlines with \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
